.UserAccountUI {
  // background-color: rgb(216, 215, 215);
  min-height: 100vh;
  margin-top: -20px;
  box-sizing: border-box;
}
.Nav {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}
.listContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  text-decoration: none;
  padding: 0px
  // width: 100%;
}
.listItem {
  padding: 10px;
  // width: 75px; 
}
.link {
  text-decoration: none;
  color: #fff;
}
.icon {
  fill: rgb(148, 145, 145);
  font-size: 30px;
  width: 30px;
  height: 30px;
}
.settingLink {
  font-size: 30px;
  fill: rgb(204, 204, 204);
}

.sunIcon,
.todayTodo,
.upcomingIcon,
.somedayIcon,
.eventIcon,
.completedIcon,
.tomorrowIcon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sunIcon {
  fill: lightgreen;
}
.todoWrapper {
}
.todo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}
.todayTodo {
  margin-left: 10px;
}
.upcomingIcon {
  fill: rgb(90, 100, 247);
}
.somedayIcon {
  fill: rgb(155, 15, 155);
}
.eventIcon {
  fill: rgb(73, 197, 73);
}
.completedIcon {
  fill: gray;
}
.tomorrowIcon {
  fill: orange;
}
