.finishedTaskComponent{
    width: 100%;
    min-height: 100px;
    color: black;
}
.finishedTasksWrapper{
    background-color: #fff;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 5px;
}
.taskDate{
    min-width: 100px;
    // padding: 10px;
    color: rgb(173, 173, 173);
    text-align: left;
}
.finishedTaskContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.finishedTaskIconContainer{
    font-size: 20px;
    border-radius: 50%;
    background-color: green;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.finishedTaskIcon{
    fill: #fff
}
.finishedTaskInnerWrapper{
    display: flex;
    flex-direction: column;
}
.pomodoroIcon{
    text-align: left;
}
.stopwatch{
    fill: tomato
}
.hideTasks{
    visibility: hidden;
    height: 0;
    
}