.FrontPageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(221, 43, 12);
  height: 100vh;
}
.FrontPageTime {
  font-size: 30px;
  color: #fff;
  display: flex;
  // height: 150px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}
.timer {
  border: solid 1px #fff;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: -50px;
}
.BtnWrapper {
  position: relative;
  height: 100px;
  width: 150px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
